* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}
.container {
  min-width: 1080px;
  margin: 0px auto;
}
.content {
  flex: 1 1 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigation-list {
  display: flex;
  font-family: Lato;
  /* вынести */
  font-size: 13.5px;
  /* вынести */
  text-transform: uppercase;
  color: #868686;
  /* вынести */
}
.header__navigation-list-item {
  margin-right: 40px;
  padding: 10px 0px 0px 0px ;
}
.header__navigation-list-home{
  display: block;
  padding: 10px 0px 0px 0px ;
  text-align: center;
  width: 60px;
height: 30px;
  margin-right: 40px;
  background-color: #ffbb42;
}
.header__navigation-list-home:hover{
  background-color: #ffbb42;
}
.header__navigation-list-home:active{
position: relative;
top: 3px;
}
.section__title {
  align-items: center;
  display: flex;
  font-family: Gotham;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: -0.025em;
  color: #e71c1c;
}



.footer {
  background-color: #709dca;
}
.footer__row {
  display: flex;
  height: 45px;
  justify-content: center;
  align-items: center;
}
.footer__text {
  color: #ffffff;
  font-size: 13px;
  line-height: 24px;
  font-family: "Open Sans";
  font-weight: 400;
}

.main {
  min-width: 100%;
  background-color: #709dca;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #709dca;
  min-height: 589px;
  padding: 0px 0 170px 0;
  position: relative;
}

.main__title {
  font-family: Gotham;
  font-size: 35px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 15px;
}
.main__text {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 33px;
}
.main__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 1085px;
  margin-bottom: 67px;
}

.main__form {
  width: 281px;
  height: 46px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  text-indent: 45px;
}

.form__input {
  width: 281px;
  height: 46px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  position: relative;
}
.name {
  text-indent: 45px;

}
.form__image {
    position: absolute;
    top: 15px;
    left: 15px;
}

.email {
  text-indent: 45px;

}
.tell {
  text-indent: 45px;
}
.main__button {
  display: block;
  width: 211px;
  height: 46px;
  background-color: #ffbb42;
  text-align: center;
  padding: 17px 0 0 0;
}
.main__button:hover{
  background-color: #ffbb42;
}
.main__button:active{
  position: relative;
top: 3px;
}
.main__button span {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
.main__image {position: absolute;
  bottom: -55px;
}